<div class='container'>
  <div class='row'>
  <div class="col-md-4">
    <img ng-src="{{movie.Poster}}"/>
  </div>
  <div class='col-md-8'>
    <h1>{{movie.Title}}</h1>
    <p>
      Starring: {{movie.Actors}}
    </p>
    <br>
    <p>
      {{movie.Plot}}
    </p>
    <br>
    <h3>More Info</h3>
    <br>
    <h4>Awards</h4>
    <p>
      {{movie.Awards}}
    </p>
    <h4>Country</h4>
    <p>
      {{movie.Country}}
    </p>
    <h4>Director</h4>
    <p>
      {{movie.Director}}
    </p>
    <h4>Genre</h4>
    <p>
      {{movie.Genre}}
    </p>
    <h4>Language</h4>
    <p>
      {{movie.Language}}
    </p>
    <h4>Rated</h4>
    <p>
      {{movie.Rated}}
    </p>
    <h4>Released</h4>
    <p>
      {{movie.Released}}
    </p>
    <h4>Runtime</h4>
    <p>
      {{movie.Runtime}}
    </p>
    <h4>Title</h4>
    <p>
      {{movie.Title}}
    </p>
    <h4>Writer</h4>
    <p>
      {{movie.Writer}}
    </p>
    <h4>Year</h4>
    <p>
      {{movie.Year}}
    </p>
    <h4>imdbRating</h4>
    <p>
      {{movie.imdbRating}}
    </p>
    <h4>imdbVotes</h4>
    <p>
      {{movie.imdbVotes}}
    </p>
  </div>
</div>
</div>
